localhost:443 sentinel:443 oauth2-server:443 otel-collector:443 {
	tls internal
	@fame path /fame/*
	@jwks path /.well-known/*
	@oauth path /oauth/*
	@otel1 path /v1/traces
	@otel2 path /v1/traces/*
	reverse_proxy @fame sentinel-internal:8000
	reverse_proxy @jwks oauth2-server-internal:8099
	reverse_proxy @oauth oauth2-server-internal:8099
	reverse_proxy @otel1 otel-collector-internal:4318
	reverse_proxy @otel2 otel-collector-internal:4318
}
